<div *ngIf="dog">

  <h2>{{dog.name | uppercase}}</h2>
  <div><span>id: </span>{{dog.id}}</div>
  <div>
    <label>Height (inches):
      <input [(ngModel)]="dog.heightFrom"  placeholder="min">
       -
      <input [(ngModel)]="dog.heightTo" placeholder="max">
    </label>
    <label>Weight (pounds):
      <input [(ngModel)]="dog.weightFrom" placeholder="min">
       -
      <input [(ngModel)]="dog.weightTo" placeholder="max">
    </label>
    <label>Life Expectancy (years):
      <input [(ngModel)]="dog.lifeExpectancyFrom" placeholder="min">
       -
      <input [(ngModel)]="dog.lifeExpectancyTo" placeholder="max">
    </label>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Group" [(ngModel)]="dog.group">
        <mat-option *ngFor="let group of dogGroups" [value]="group">
          {{group}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <label>Group:
      <label class="group" *ngIf="!group">{{dog.group}}</label>
      <label class="group" *ngIf="group">{{group}}</label>
    </label>
  </div>

  <button (click)="goBack()">go back</button>
</div>
