<h2>All Dogs</h2>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="dog-card" *ngFor="let dog of dogs" [class.selected]="dog === selectedDog" (click)="onSelect(dog)">
    <a routerLink="/detail/{{dog.id}}">
      <mat-card-header>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <mat-icon class="delete" fxFlex="10%" (click)="delete(dog)">edit</mat-icon>
          <mat-card-subtitle>{{dog.group}}</mat-card-subtitle>
          <span fxFlex="80%">{{dog.name}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Height: {{dog.heightFrom}} - {{dog.heightTo}} (inches)</p>
        <p>Weight: {{dog.weightFrom}} - {{dog.weightTo}} (pounds)</p>
        <p>Life Expectancy: {{dog.lifeExpectancyFrom}} - {{dog.lifeExpectancyTo}} (years)</p>
      </mat-card-content>
    </a>
  </mat-card>
</div>





