.dog-card {
  max-width: 400px;
  background: aliceblue;
  box-shadow: black;
  margin-bottom: 3px;
}
.selected {
  background-color: #CFD8DC !important;
  color: deepskyblue;
}
.dogs {
  list-style-type: none;
  padding: 0;
  width: 23%;
  margin-bottom: 2%;
}
.dogs li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.dogs li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.dogs li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.dogs .text {
  position: relative;
  top: -3px;
}
.dogs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.delete {
  margin-left: 15em;
}
